
  .whatsapp-button {
    display: inline-block;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    margin-right: 10px;
  }
  
  .whatsapp-button a {
    color: #fff;
    text-decoration: none;
  }
